:root {
  --primary: #4caf50;
  --bg: #030712;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 2000px; */
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.8);
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  flex: 1;
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, var(--bg) 3%, rgba(255, 255, 255, 0) 50%);
  z-index: 1;
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: var(--primary);
}
.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}
.hero .content .cta,
.contact .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about {
  padding: 7rem 7% 1.4rem;
}
.about h2,
.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about h2 span,
.contact h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
  border-radius: 20px;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* CONTENT(GAMBAR DKK) */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 4rem 2rem;
}
.source-container {
  margin-top: 4rem;
  text-align: center;
  position: relative;
}
.gambar {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gambar:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
}
.info {
  margin-top: 1rem;
}

.info h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

/*TABLE*/
table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

thead {
  background: rgba(255, 255, 255, 0.2);
}

th,
td {
  padding: 1rem;
  color: #fff;
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.3);
}

.contact {
  padding: 8rem 3rem 3rem;
  text-align: center;
}

.contact h2 {
  margin-bottom: 2rem;
}

form {
  max-width: 500px;
  margin: auto;
}

label,
input,
textarea,
button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

input,
textarea {
  padding: 0.8rem;
  border: 1px solid white;
  background: transparent;
  color: white;
}

button {
  background: var(--primary);
  padding: 0.8rem;
  color: white;
  border: none;
  cursor: pointer;
}
.content {
  padding: 0;
  font-family: "poppins", sans-serif;
  font-size: 500;
  font-style: 0;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  display: block;
}
.input-error {
  border: 2px solid red;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html {
    font-size: 75%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 50rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .content-wrapper {
    gap: 8rem;
  }

  .gambar {
    max-width: 550px;
  }
  .info {
    max-width: 600px;
  }

  th,
  td {
    font-size: 1.1rem;
  }
}
